.navbar {
    background-color: #0070f3;
    height: 7vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navlink a {
    text-decoration: none;
    color: white;
  }
  
  .navlink a:hover {
    color: white;
    background-color: rgb(122, 122, 122);
  }
  
  .avatar {
    height: 3.5vh;
    width: 3.5vh;
    object-fit: cover;
    border-radius: 50%;
  }