.image {
  border-radius: 50px;
  position: fixed;
  right: 10%;
  bottom: 87%;
}
.image2 {
  text-align: center;
}

.headText {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 5px;
  margin: 10px;
  font-size: 25px;
  margin-top: 15px;
  padding-top: 15px;
}
.headText2 {
  text-align: center;
  font-family: Garamond, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 5px;
  font-size: 25px;
  margin-top: 10px;
  padding-top: 10px;
}
.infoText {
  text-align: left;
  font-family: Garamond, "Times New Roman", Times, serif;
  letter-spacing: 3px;
  font-size: 15px;
  margin-top: 45px;
  padding-top: 15px;
  line-height: 30px;
}

.homeBtn {
  text-align: center;
}

.homeBtn2 {
  text-align: center;
}

.homeBtn3 {
  text-align: center;
}

.homeBtn4 {
  text-align: center;
}
