* {
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}
.container{
display: "flex",
flexDirection: "column",
alignItems: "center"
},

.stars{
display: "flex",
flexDirection: "row",
},

.textarea{
border: "1px solid #a9a9a9",
borderRadius: 5,
padding: 10,
margin: "20px 0",
minHeight: 100,
width: 300
},

.button{
border: "1px solid #a9a9a9",
borderRadius: 5,
width: 300,
padding: 10,
}
  