
.image {
    border-radius: 50px;
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
  }
  .image2 {
    border-radius: 50px;
    text-align: right;
    margin-left: 15px;
    margin-top: 15px;
  }